{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 align-items-start">
        <div class="col-7 col-md-6 d-flex flex-column justify-content-start">
            <h1 class="splash-text">
                Welcome to our online store! We make our candles with love and care. 
                Don't forget to visit our Facebook page for the latest updates and exclusive offers. 
                All our ingredients are responsibly sourced and good to the planet.
            </h1>
            <div class="my-5">
                <h5>
                    <a href="{% url 'category_products' category_id=1 %}" class="call-to-action-button btn rounded-2 text-uppercase">Discover our candles...</a>
                </h5>
                <h5>
                    <a href="{% url 'signup' %}" class="call-to-action-button btn rounded-2 text-uppercase mt-2">Sign up to our newsletter</a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}