/* font-family: 'Cinzel', serif;
font-family: 'Slabo 27px', serif; */

html {
    height: 100%;
}

.title-font {
    font-family: 'Cinzel', serif;
    color: #384D73;
}

.splash-text {
    padding: 150px 0 0 10px;
    font-size: 2rem;
    color: #383838 !important;
    line-height: 1.1;
    text-shadow: 0 0 3px #f5f0ecab;
}

.bg-nav {
    background-color: #DCDBDC;
    height: 110px;
    padding-bottom: 15px;
}

.bg-searchbox {
    background-color: #ffffff71;
}

.btn-searchbox {
    color: #fff;
    background-color: #727272;
    border-color: #727272;
}

body {
    background: url('/media/landing_page_image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #383838;
    font-family: 'Slabo 27px', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #383838;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.call-to-action-button {
    background: #F5F0EC;
    color: #383838;
    min-width: 260px;
}

.call-to-action-button:hover,
.call-to-action-button:active,
.call-to-action-button:focus,
.btn-base:hover,
.btn-base:active,
.btn-base:focus {
    background: #DCDBDC;
    color: #383838;
}

.text-base {
    color: #727272 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* dropdown and dropdown nav menu */

.nav-link {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: #727272 !important;
    text-decoration: none !important;
}

.nav-link-padding {
    padding: 0 10px !important;
}

.main-logo-link {
    padding: 0.5rem 1rem !important;
    text-decoration: none !important;
}

.navlinksleft {
    padding: 2rem 0 2rem 1rem !important;
}

.searchbarright {
    padding: 1.8rem 1rem 1.8rem 0 !important;
}

.navbar {
    padding: 0;
}

.dropdown-menu {
    background: #f5f0ec;
    min-width: 0;
}

/* mobile menu */

.collapsedmenu {
    background-color: #DCDBDC;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

.mobnavpadding {
    padding: 2rem 0;
}

.mob-nav-link-padding {
    padding: 0.5rem 0 1rem 1.5rem !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}