html {
    height: 100%;
}

.title-font {
    font-family: 'Cinzel', serif;
    color: #384D73;
}

.splash-text {
    padding: 200px 0 0 8px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #383838 !important;
    line-height: 1.1;
}


.bg-nav {
    background-color: #DCDBDC;
    height: 110px;
    padding-bottom: 15px;
}

.bg-searchbox {
    background-color: #ffffff71;
}

.btn-searchbox {
    color: #fff;
    background-color: #727272;
    border-color: #727272;
}

body {
    background: url('/media/landing_page_image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #383838;
    font-family: 'Slabo 27px', serif;
}

.footer-base {
    background-color: #DCDBDC;
    height: 3rem;
    padding-bottom: 55px;
    font-family: 'Cinzel', serif;
    color: #384D73;
}

.footer-icons a {
    color: inherit;
    text-decoration: none;
    font-size: large;
}

.footer-icons a:hover {
    text-decoration: none;
}

/* Allauth */

.form.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}


.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.allauth-form-inner-content h1 {
    color: #384D73;
    font-size: x-large;
    font-weight: bold;
}

.allauth-form-inner-content .textinput {
    max-width: 300px;
}

.auth-overlay {
    height: 100%;
    width: 100%;
    top: 110px;
    left: 0;
    position: fixed;
    background: #f5f0ecbd;
    z-index: -1;
}

.splash-text-padder {
    padding-bottom: 120px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #383838;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.icon-pale i {
    color: #F5F0EC !important;
}

.call-to-action-button {
    background: #384D73;
    color: #F5F0EC;
    min-width: 220px;
    font-size: medium;
    padding: 0.4rem 0 !important;
}

.call-to-action-button:hover,
.call-to-action-button:active,
.call-to-action-button:focus,
.btn-base:hover,
.btn-base:active,
.btn-base:focus {
    background: #DCDBDC;
    color: #383838;
}

.text-base {
    color: #727272 !important;
}

.border-black {
    border: 1px solid black !important;
}

.sub-header2-font {
    font-family: 'Cinzel', serif;
    color: #384D73;
    font-size: large;
    font-weight: bold;
}

/* dropdown and dropdown nav menu */

.nav-list-style {
    list-style: none;
    padding: 0 15px 0 0;
    margin: 0;
}

.nav-link {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: #727272 !important;
    text-decoration: none !important;
}

.bag-nav-link:hover {
    color: #384D73 !important;
}

.nav-link-padding {
    padding: 0 25px !important;
}

.main-logo-link {
    padding: 0.5rem 1rem !important;
    text-decoration: none !important;
}

.navlinksleft {
    padding: 2rem 0 2rem 1rem !important;
}

.searchbarright {
    padding: 1.6rem 1rem 1.8rem 0 !important;
}

.navbar {
    padding: 0;
}

.dropdown-menu {
    background: #DCDBDC;
    min-width: 0;
    border: 0 !important;
}

.dropdown-item {
    padding: 0.3rem 0.4rem;
    font-weight: bold;
    color: #727272 !important;
}

.caret-off::before {
    display: none;
}

.caret-off::after {
    display: none;
}

/* mobile menu */

.collapsedmenu {
    background-color: #DCDBDC;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

.mobnavpadding {
    padding: 2rem 0;
}

.mob-nav-link-padding {
    padding: 0.5rem 0 1rem 1.5rem !important;
}

.dropmenu-Main {
    left: 18px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
}

/* signup newsletter form */

.tandcs-card .signup-card-body,
.signup-card .signup-card-body {
    background-color: #f5f0ec !important;
}

.signup-form-element ul {
    list-style-type: none;
    font-size: large;
    text-transform: uppercase;
}

.signup-form-element input {
    opacity: 50%;
}

.signup-form-element label {
    font-size: small;
}

.tandcs-list {
    text-align: left;
}

.tandcs-card {
    padding-bottom: 100px;
}

.tandcs-list .list-group-item {
    background-color: #ffffffab;
    font-size: small;
    padding: 5px 5px;
}

/* products css */

.sub-heading-font {
    font-family: 'Cinzel', serif;
    color: #384D73;
    font-size: x-large;
    font-weight: bold;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 110px;
    left: 0;
    position: fixed;
    background: #F5F0EC;
    z-index: -1;
}

.hr-prod-spacer hr {
    border: 1px solid #F5F0EC !important;
}

.hr-prod-bot-spacer {
    padding-bottom: 25px;
    display: inline-block;
}

.hr-prod-bot-spacer hr {
    border: 1px solid #F5F0EC;
}

.hr-prod-top-spacer {
    padding-top: 0;
    display: none;
}

.hr-prod-top-spacer hr {
    border: 1px solid #F5F0EC;
}

.card {
    max-width: 512px;
}

.card-body,
.card-footer {
    background-color: #DCDBDC !important;
}

.sort-field {
    padding: 12px 0;
}

.sort-button {
    background: #384D73;
    color: #F5F0EC;
    font-size: medium;
    padding: 0.2rem 1.2rem !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    color: #384D73
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-4 17:32:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.shadow-drop-center:hover {
    -webkit-animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shadow-drop-center {
    -webkit-animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 #72727200;
        box-shadow: 0 0 0 0 #72727200;
    }

    100% {
        -webkit-box-shadow: 0 0 10px 2px #72727246;
        box-shadow: 0 0 10px 2px #72727246;
    }
}

/* product details */

.product-details-container {
    padding: 20px 0 0 10px;
}

.prod-duct-card {
    max-width: 100%;
}

.review-tabs {
    padding: 47px 3rem 220px 0;
}

.review-tabs>ul>li>a {
    font-size: small !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #DCDBDC !important;
    border-color: #DCDBDC !important;
}

.det-image-container {
    justify-content: center;
}

.quantity-selector {
    max-width: 4rem;
    background-color: #DCDBDC;
    border: none;
}

.qty-button {
    background: #384D73;
    color: #F5F0EC;
    font-size: medium;
    padding: 0.2rem 1.2rem !important;
}

.review-card .card-header {
    background-color: #DCDBDC !important;
    padding: 10px;
}

.review-card .card-title {
    padding: 8px 0 0 0;
    display: inline-block;
    margin-right: 20px;
    font-size: medium;
}

.review-card .card-header .card-title {
    color: #384D73;
}

.review-card .card-body {
    background-color: #F5F0EC !important;
}

.review-card .card-body .card {
    padding: 0;
    border: none !important;
}

.rating-selector {
    max-width: 100px;
    background-color: #DCDBDC;
    border: none;
}

.rating-button {
    background: #384D73;
    color: #F5F0EC;
    min-width: 160px;
    font-size: medium;
    padding: 0.2rem 0 !important;
}

.review-comment {
    background-color: #dcdbdc8a;
}

/* comment form */

.contact-form-width-control {
    padding: 0 25px 120px 25px;
}

.contact-form-width-control>.form-group {
    padding: 0 15px;
    width: 100%;
}

.contact-form-width-control>.form-group label {
    display: none;
}

/* contact management */

.contact-message-card>.card-body {
    padding: 0;
    margin: 0;
}

.cmt-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.cmt-card {
    width: 360px;
    height: 400px;
    margin: 10px;
}

.cmt-card-body {
    overflow-y: auto;
}

.form-management-container {
    overflow-x: hidden;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* shopping bag */

.table-head-text {
    color: #384D73;
    font-size: 1.4rem !important;
}

tr.table-style p {
    color: #727272;
    font-size: 1.2rem !important;
}

.main-bag-table {
    margin-bottom: 110px;
}

tr.table-style .sku-text {
    font-size: xx-small !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 110px;
    right: 35px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

.bg-toast-head {
    background-color: #384D73;
    min-width: 300px;
}

.bg-toast-body {
    background-color: #F5F0EC;
    min-width: 300px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

@media (max-width: 1300px) {

    .small-screen-menutext,
    .small-screen-droptext a {
        font-size: small !important;
    }

    .nav-link-padding {
        padding: 0 8px !important;
    }
}


/* pad the top of product details overlay */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

    .container {
        max-width: 80%;
    }

    .table-head-text {
        font-size: 1.5rem !important;
    }

    tr.table-style p {
        font-size: 1.3rem !important;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 116px;
    }
}

/* medium styles */
@media (max-width: 992px) {
    .splash-text {
        font-size: 1.1rem;
        padding: 100px 0 0 10px;
    }

    .navbar-brand {
        padding-left: 0.6rem;
    }

    .text-right {
        padding-right: 1.6rem;
    }

    .btn-mobile {
        background: #DCDBDC;
        border: 0;
    }

    .dropmenu-Mob {
        left: -10px !important;
    }

    .navbar-toggler span {
        display: block;
        width: 22px;
        height: 2px;
        margin-bottom: 4px;
        position: relative;
        background: #333;
        transition: all 0.2s ease-in-out;
    }

    .navbar-toggler.open span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .navbar-toggler.open span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.open span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .hr-prod-bot-spacer {
        display: none;
    }

    .btt-button {
        right: 5px;
    }

    .table-head-text {
        font-size: 1.3rem !important;
    }

    tr.table-style p {
        font-size: 1.1rem !important;
    }

    .review-tabs {
        padding: 47px 20px 220px 0;
    }

    .message-container {
        position: fixed;
        top: 70px;
        right: 50%;
        transform: translateX(50%);
        z-index: 99999999999;
    }

    .bg-toast-head {
        min-width: 320px;
        font-size: medium;
    }

    .bg-toast-body {
        min-width: 320px;
        font-size: medium;
    }
}

/* small mobile screen */
@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }

    .review-tabs {
        padding: 0 0 220px 0;
    }

    .review-tabs>ul>li>a {
        font-size: small !important;
    }

    .table-head-text {
        font-size: 1rem !important;
    }

    tr.table-style p {
        font-size: 0.9rem !important;
    }

    .hide-img {
        display: none;
    }
}

/* dropdown animation for medium and above screens */
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(1.2rem);
        opacity: 1;
    }

    0% {
        transform: translateY(2rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(1.2rem);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(2rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}