/* font-family: 'Cinzel', serif;
font-family: 'Slabo 27px', serif; */

html {
    height: 100%;
}

.title-font {
    font-family: 'Cinzel', serif;
    color: #384D73;
}

.splash-text {
    padding: 180px 0 0 8px;
    font-size: 1.4rem;
    color: #383838 !important;
    line-height: 1.1;
    text-shadow: 0 0 3px #f5f0ecab;
}

.bg-nav {
    background-color: #DCDBDC;
    height: 110px;
    padding-bottom: 15px;
}

.bg-searchbox {
    background-color: #ffffff71;
}

.btn-searchbox {
    color: #fff;
    background-color: #727272;
    border-color: #727272;
}

body {
    background: url('/media/landing_page_image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #383838;
    font-family: 'Slabo 27px', serif;
}

.footer-base {
    background-color: #DCDBDC;
    height: 3rem;
    padding-bottom: 55px;
    font-family: 'Cinzel', serif;
    color: #384D73;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #383838;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.call-to-action-button {
    background: #384D73;
    color: #F5F0EC;
    min-width: 220px;
    font-size: medium;
    padding: 0.4rem 0 !important;
}

.call-to-action-button:hover,
.call-to-action-button:active,
.call-to-action-button:focus,
.btn-base:hover,
.btn-base:active,
.btn-base:focus {
    background: #DCDBDC;
    color: #383838;
}

.text-base {
    color: #727272 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* dropdown and dropdown nav menu */

.nav-link {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: #727272 !important;
    text-decoration: none !important;
}

.nav-link-padding {
    padding: 0 25px !important;
}

.main-logo-link {
    padding: 0.5rem 1rem !important;
    text-decoration: none !important;
}

.navlinksleft {
    padding: 2rem 0 2rem 1rem !important;
}

.searchbarright {
    padding: 1.8rem 1rem 1.8rem 0 !important;
}

.navbar {
    padding: 0;
}

.dropdown-menu {
    background: #DCDBDC;
    min-width: 0;
    border: 0 !important;
}

.dropdown-item {
    padding: 0.3rem 0.4rem;
    font-weight: bold;
    color: #727272 !important;
}

.caret-off::before {
    display: none;
}

.caret-off::after {
    display: none;
}

/* mobile menu */

.collapsedmenu {
    background-color: #DCDBDC;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

.mobnavpadding {
    padding: 2rem 0;
}

.mob-nav-link-padding {
    padding: 0.5rem 0 1rem 1.5rem !important;
}

.dropmenu-Main {
    left: 18px !important;
}

/* products css */

.overlay {
    height: 100%;
    width: 100%;
    top: 110px;
    left: 0;
    position: fixed;
    background: #F5F0EC;
    z-index: -1;
}

.hr-prod-spacer hr {
    border: 1px solid #F5F0EC !important;
}

.hr-prod-bot-spacer {
    padding-bottom: 25px;
    display: inline-block;
}

.hr-prod-bot-spacer hr {
    border: 1px solid #F5F0EC;
}

.hr-prod-top-spacer {
    padding-top: 0;
    display: none;
}

.hr-prod-top-spacer hr {
    border: 1px solid #DCDBDC;
}

.card {
    max-width: 512px;
}

.card-body, .card-footer {
    background-color: #DCDBDC !important;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-4 17:32:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .shadow-drop-center:hover {
	-webkit-animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
 @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 #72727200;
              box-shadow: 0 0 0 0 #72727200;
    }
    100% {
      -webkit-box-shadow: 0 0 10px 2px #72727246;
              box-shadow: 0 0 10px 2px #72727246;
    }
  }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 116px;
    }
}

/* mobile styles */
@media (max-width: 992px) {
    .splash-text {
        padding: 350px 0 0 10px;
    }

    .navbar-brand {
        padding-left: 0.6rem;
    }

    .text-right {
        padding-right: 1.6rem;
    }

    .btn-mobile {
        background: #DCDBDC;
        border: 0;
    }

    .dropmenu-Mob {
        left: -10px !important;
    }

    .navbar-toggler span {
        display: block;
        width: 22px;
        height: 2px;
        margin-bottom: 4px;
        position: relative;
        background: #333;
        transition: all 0.2s ease-in-out;
    }

    .navbar-toggler.open span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .navbar-toggler.open span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.open span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .hr-prod-top-spacer {
        display: inline-block;
        padding-top: 28px;
    }

    .hr-prod-bot-spacer {
        display: none;
    }
}

/* dropdown animation for medium and above screens */
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(1.2rem);
        opacity: 1;
    }

    0% {
        transform: translateY(2rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(1.2rem);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(2rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}