{% extends "base.html" %}
{% load static %}
{% load average_rating %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Container elements -->
<div class="overlay mob-prod-det-spacer"></div>
<div class="container-fluid">
    <div class="row">

        <!-- Image element -->
        <div class="col-12 col-md-6 col-lg-6 d-flex det-image-container">
            <div class="image-container my-5">
                {% if product.image %}
                <a>
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a>
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>


        <!-- Tabbed content -->
        <div class="col-12 col-md-6 col-lg-6">

            <!-- Tabbed headers -->
            <div class="container-fluid review-tabs">
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class="nav-item tab-nav-item">
                        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab"
                            aria-controls="tab1" aria-selected="true">Product Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                            aria-selected="false">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                            aria-selected="false">Post Review</a>
                    </li>
                </ul>

                <!-- Main tabs content -->
                <div class="tab-content" id="myTabsContent">

                    <!-- Details tab -->
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="product-details-container mt-2 md-5">
                                <h3 class="mb-3">{{ product.name }}</h3>
                                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted"
                                        href="{% url 'category_products' category_id=product.category.id %}">
                                        <i class="fas fa-tag mr-1"></i>{{ product.category.get_friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.reviews.all %}
                                <small class="text-muted"><i
                                        class="fas fa-star mr-1"></i>{{ product.reviews.all | calculate_average_rating }}
                                    /5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                <p class="mt-2">{{ product.description }}</p>
                                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-12">
                                            <p class="mt-2"><strong>Quantity:</strong></p>
                                            <div class="form-group w-50">
                                                <div class="input-group">
                                                    <input class="form-control qty_input quantity-selector" type="number" name="quantity"
                                                        value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                                        id="id_qty_{{ product.id }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            {% if request.META.HTTP_REFERER %}
                                            <a href="{{ request.META.HTTP_REFERER }}"
                                                class="rating-button btn rounded-2 text-uppercase mt-2">
                                                <span class="icon-pale pr-2">
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span class="text-uppercase">Keep Shopping</span>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'products' %}"
                                                class="rating-button btn rounded-2 text-uppercase mt-2">
                                                <span class="icon-pale pr-2">
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span class="text-uppercase">Keep Shopping</span>
                                            </a>
                                            {% endif %}

                                            <input type="submit" class="rating-button btn rounded-2 text-uppercase mt-2"
                                                value="Add to Bag">
                                        </div>
                                        {% if request.META.HTTP_REFERER %}
                                        <input type="hidden" name="redirect_url"
                                            value="{{ request.META.HTTP_REFERER }}">
                                        {% else %}
                                        <input type="hidden" name="redirect_url" value="{% url 'products' %}">
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- reviews tab -->
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <div class="col-12 p-0">
                            <div class="container-fluid p-0">
                                {% if reviews %}
                                {% for review in reviews %}
                                <div class="review-card card prod-duct-card">
                                    <div class="card-header d-flex">
                                        <h5 class="card-title inline-block">User: {{ review.user.username }}</h5>
                                        <h5 class="card-title inline-block ml-auto">Rating: {{ review.rating }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <p class="card-text">{{ review.comment }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p class="pt-4 pl-2">No reviews available.</p>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <!-- post review tab -->
                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        {% if user.is_authenticated %}
                        {% if not is_reviewed %}
                        <form method="post" class="ml-2 mr-2">
                            {% csrf_token %}
                            <div class="form-group pt-4">
                                <label for="rating">Rating:</label>
                                <select class="rating-selector" name="rating" id="rating" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea name="comment" id="comment" class="review-comment form-control"
                                    rows="3"></textarea>
                            </div>
                            <button type="submit" class="rating-button btn rounded-2 text-uppercase">Submit</button>
                        </form>
                        {% else %}
                        <p class="pt-4 pl-3">You have already submitted a review for this product.</p>
                        {% endif %}
                        {% else %}
                        <p class="pt-4 pl-3">Please <a href="{% url 'account_login' %}">Login</a> or <a
                                href="{% url 'account_signup' %}">Register</a>
                            to submit a review.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

<!-- script to handle tabbed content -->
{% block postloadjs %}
<script>
    $(document).ready(function () {
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
{% endblock %}